In [44]:
import pandas as pd
df = pd.read_excel('../z20_data/20240103_인구.xlsx',index_col='행정기관',skiprows=3,usecols=('B,E:Y'))
df.head(2)

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"726,460","1,072,653","1,211,077","1,211,949","1,524,378","1,823,908","1,737,714","1,684,266","2,055,130","2,039,606",...,"2,052,227","2,097,254","1,554,976","1,038,388","713,448","507,915","212,726","54,180","8,880","1,307"
서울특별시,"116,614","161,429","185,689","197,425","271,237","390,716","379,852","332,153","363,795","352,011",...,"338,380","343,434","271,757","188,172","136,287","93,848","36,511","9,411","1,703",276

In [45]:
# len(df) = len(df.index)

for i in range(len(df.index)):
    df.iloc[i] = df.iloc[i].str.replace(",","").astype(int)

df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,726460,1072653,1211077,1211949,1524378,1823908,1737714,1684266,2055130,2039606,...,2052227,2097254,1554976,1038388,713448,507915,212726,54180,8880,1307
서울특별시,116614,161429,185689,197425,271237,390716,379852,332153,363795,352011,...,338380,343434,271757,188172,136287,93848,36511,9411,1703,276
부산광역시,41333,63912,68919,67836,93245,109745,103536,99530,127544,121660,...,126702,143246,119500,83807,55948,36851,13453,3103,420,72
대구광역시,31269,49000,55029,57661,74228,81001,76198,71455,87860,91327,...,96673,96632,71324,49675,31508,23021,9435,2197,299,25
인천광역시,43664,63028,70593,69580,86548,108831,107658,102829,126090,121064,...,121717,124470,84563,52236,35223,22843,9444,2410,482,82
광주광역시,21506,32852,38227,39769,49779,53357,45743,45152,57116,58456,...,54650,50054,34957,25074,17659,12507,4907,1221,180,18
대전광역시,21241,31032,35302,37083,48557,57944,51617,47195,55541,57113,...,54364,55215,40788,26427,17354,12297,5151,1344,205,28
울산광역시,16646,26693,29418,28366,33283,39507,37536,37213,47828,45102,...,51149,49294,33444,20751,11651,7068,2406,566,72,4
세종특별자치시,9524,13733,14079,10808,9307,10329,13538,16303,20299,18098,...,11134,10497,7464,4657,2763,2000,913,230,40,6
경기도,216863,313113,345546,335021,411620,501356,491074,485448,590936,571769,...,537189,521204,356812,219043,153879,106802,45597,11973,2020,379
강원도,20663,28244,33186,35219,46654,48339,43021,41832,52647,57135,...,65868,74871,59684,35256,28108,20902,8649,2159,472,67
충청북도,22631,32948,37693,37809,47397,57064,51561,49894,60047,61976,...,67045,72702,54810,34167,23398,17998,8095,1908,328,50
충청남도,31138,46381,53256,51596,60532,67469,66486,70151,87472,86432,...,85589,91701,67960,48258,33015,25781,13262,3553,568,58
전라북도,21236,34769,42410,44115,54218,53042,44965,46154,61000,68586,...,74309,77740,60703,44697,31975,24526,11227,2972,464,62
전라남도,23539,34785,41325,41816,51858,51905,43572,46628,62839,68646,...,83843,86322,64278,50227,35492,28495,11601,3186,485,60
경상북도,33538,50669,57538,58036,72082,75729,70663,73213,93825,97876,...,115155,125814,98898,70342,44053,34935,15550,3924,597,56
경상남도,44066,73112,84029,81884,93886,96408,91363,98508,132630,133558,...,139975,148200,109447,73308,45837,31710,13579,3300,475,53
제주특별자치도,10989,16953,18838,17925,19947,21166,19331,20608,27661,28797,...,28485,25858,18587,12291,9298,6331,2946,723,70,11

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18 entries, 전국   to 제주특별자치도
Data columns (total 21 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   0~4세     18 non-null     object
 1   5~9세     18 non-null     object
 2   10~14세   18 non-null     object
 3   15~19세   18 non-null     object
 4   20~24세   18 non-null     object
 5   25~29세   18 non-null     object
 6   30~34세   18 non-null     object
 7   35~39세   18 non-null     object
 8   40~44세   18 non-null     object
 9   45~49세   18 non-null     object
 10  50~54세   18 non-null     object
 11  55~59세   18 non-null     object
 12  60~64세   18 non-null     object
 13  65~69세   18 non-null     object
 14  70~74세   18 non-null     object
 15  75~79세   18 non-null     object
 16  80~84세   18 non-null     object
 17  85~89세   18 non-null     object
 18  90~94세   18 non-null     object
 19  95~99세   18 non-null     object
 20  100세 이상  18 non-null     object
dtypes: object(21)
memory usage: 3.1+ KB

In [18]:
df.columns

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세 이상'],
      dtype='object')

In [24]:
df.index

Index(['전국  ', '서울특별시  ', '부산광역시  ', '대구광역시  ', '인천광역시  ', '광주광역시  ',
       '대전광역시  ', '울산광역시  ', '세종특별자치시  ', '경기도  ', '강원도  ', '충청북도  ', '충청남도  ',
       '전라북도  ', '전라남도  ', '경상북도  ', '경상남도  ', '제주특별자치도  '],
      dtype='object', name='행정기관')

In [40]:
# 공백존재
df.index.values

array(['전국  ', '서울특별시  ', '부산광역시  ', '대구광역시  ', '인천광역시  ', '광주광역시  ',
       '대전광역시  ', '울산광역시  ', '세종특별자치시  ', '경기도  ', '강원도  ', '충청북도  ',
       '충청남도  ', '전라북도  ', '전라남도  ', '경상북도  ', '경상남도  ', '제주특별자치도  '],
      dtype=object)

In [36]:
df['0~4세']+df['5~9세']

행정기관
전국           1799113
서울특별시         278043
부산광역시         105245
대구광역시          80269
인천광역시         106692
광주광역시          54358
대전광역시          52273
울산광역시          43339
세종특별자치시        23257
경기도           529976
강원도            48907
충청북도           55579
충청남도           77519
전라북도           56005
전라남도           58324
경상북도           84207
경상남도          117178
제주특별자치도        27942
dtype: object

In [39]:
df.iloc[1]
# df.loc['전국  ']

0~4세       116,614
5~9세       161,429
10~14세     185,689
15~19세     197,425
20~24세     271,237
25~29세     390,716
30~34세     379,852
35~39세     332,153
40~44세     363,795
45~49세     352,011
50~54세     397,039
55~59세     338,380
60~64세     343,434
65~69세     271,757
70~74세     188,172
75~79세     136,287
80~84세      93,848
85~89세      36,511
90~94세       9,411
95~99세       1,703
100세 이상        276
Name: 서울특별시  , dtype: object

In [46]:
# index 1개의 데이터의 총합

df.loc['전국  '].sum()
# df.iloc[0].sum()

25631538

In [47]:
# 컬럼의 데이터 총합

df['0~4세'].sum()

1452920

In [ ]:
# df['합계'] = df['0~4세'] + df['5~9세'] .......

In [48]:
# 각각의 index의 합을 '합계' 라는 컬럼을 생성하여 저장

df['합계'] = 0
# df.iloc[0].sum()

for i in range(len(df.index)):  
    df.iloc[i,-1] = df.iloc[i].sum()

df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,합계
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,726460,1072653,1211077,1211949,1524378,1823908,1737714,1684266,2055130,2039606,...,2097254,1554976,1038388,713448,507915,212726,54180,8880,1307,25631538
서울특별시,116614,161429,185689,197425,271237,390716,379852,332153,363795,352011,...,343434,271757,188172,136287,93848,36511,9411,1703,276,4567739
부산광역시,41333,63912,68919,67836,93245,109745,103536,99530,127544,121660,...,143246,119500,83807,55948,36851,13453,3103,420,72,1618749
대구광역시,31269,49000,55029,57661,74228,81001,76198,71455,87860,91327,...,96632,71324,49675,31508,23021,9435,2197,299,25,1162217
인천광역시,43664,63028,70593,69580,86548,108831,107658,102829,126090,121064,...,124470,84563,52236,35223,22843,9444,2410,482,82,1486300
광주광역시,21506,32852,38227,39769,49779,53357,45743,45152,57116,58456,...,50054,34957,25074,17659,12507,4907,1221,180,18,706724
대전광역시,21241,31032,35302,37083,48557,57944,51617,47195,55541,57113,...,55215,40788,26427,17354,12297,5151,1344,205,28,721037
울산광역시,16646,26693,29418,28366,33283,39507,37536,37213,47828,45102,...,49294,33444,20751,11651,7068,2406,566,72,4,570113
세종특별자치시,9524,13733,14079,10808,9307,10329,13538,16303,20299,18098,...,10497,7464,4657,2763,2000,913,230,40,6,191769
경기도,216863,313113,345546,335021,411620,501356,491074,485448,590936,571769,...,521204,356812,219043,153879,106802,45597,11973,2020,379,6842226
강원도,20663,28244,33186,35219,46654,48339,43021,41832,52647,57135,...,74871,59684,35256,28108,20902,8649,2159,472,67,772297
충청북도,22631,32948,37693,37809,47397,57064,51561,49894,60047,61976,...,72702,54810,34167,23398,17998,8095,1908,328,50,810740
충청남도,31138,46381,53256,51596,60532,67469,66486,70151,87472,86432,...,91701,67960,48258,33015,25781,13262,3553,568,58,1086686
전라북도,21236,34769,42410,44115,54218,53042,44965,46154,61000,68586,...,77740,60703,44697,31975,24526,11227,2972,464,62,879922
전라남도,23539,34785,41325,41816,51858,51905,43572,46628,62839,68646,...,86322,64278,50227,35492,28495,11601,3186,485,60,914811
경상북도,33538,50669,57538,58036,72082,75729,70663,73213,93825,97876,...,125814,98898,70342,44053,34935,15550,3924,597,56,1310583
경상남도,44066,73112,84029,81884,93886,96408,91363,98508,132630,133558,...,148200,109447,73308,45837,31710,13579,3300,475,53,1650300
제주특별자치도,10989,16953,18838,17925,19947,21166,19331,20608,27661,28797,...,25858,18587,12291,9298,6331,2946,723,70,11,339325

In [49]:
df.shape

(18, 22)