### 인구별 통계자료 불러오기

In [5]:
import pandas as pd

df = pd.read_csv('data1.csv',encoding='euc-kr',skiprows=2,nrows=8)
df

,서울특별시 (1100000000),"9,378,269","9,378,269.1","502,083","731,176","1,345,398","1,429,039","1,407,189","1,497,051","1,323,231",...,"357,633","709,084","714,198","710,914","761,215","697,000","409,623","206,245","34,438","1,155"
0,부산광역시 (2600000000),"3,284,947","3,284,947","189,986","263,058","370,874","389,467","479,849","541,104","562,481",...,"128,223","180,661","188,763","237,313","276,632","297,779","178,641","89,817","13,861",375
1,대구광역시 (2700000000),"2,368,670","2,368,670","147,411","212,696","276,301","280,390","351,733","420,183","369,956",...,"103,179","130,742","130,851","177,377","215,134","193,061","110,249","63,116","10,002",230
2,인천광역시 (2800000000),"3,008,484","3,008,484","199,976","271,930","360,037","416,418","479,211","517,818","449,099",...,"132,418","173,633","199,177","232,733","259,798","227,346","108,049","61,288","12,092",395
3,광주광역시 (2900000000),"1,414,862","1,414,862","97,121","146,430","187,340","173,385","224,992","242,635","186,969",...,"70,912","89,469","83,731","112,830","122,620","97,422","55,734","30,411","5,497",180
4,대전광역시 (3000000000),"1,441,272","1,441,272","94,665","137,121","197,688","188,386","217,284","244,359","203,871",...,"66,511","94,232","88,556","108,701","122,596","104,952","54,351","30,937","5,533",181
5,울산광역시 (3100000000),"1,101,059","1,101,059","76,781","109,050","120,503","136,317","176,235","204,576","171,808",...,"52,148","51,733","62,017","85,322","101,949","85,077","37,956","18,086","3,085",76
6,세종특별자치시 (3600000000),"387,726","387,726","42,795","51,145","37,365","59,017","77,254","55,542","37,809",...,"25,320","18,389","29,881","39,081","26,516","18,971","8,848","5,317","1,238",36
7,경기도 (4100000000),"13,648,156","13,648,156","970,596","1,317,378","1,661,407","1,882,433","2,240,377","2,350,861","1,863,454",...,"643,160","788,080","899,825","1,097,711","1,166,315","933,547","463,387","267,887","49,706","1,504"